.signup-form {
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.login_logo {
  display: block;
  width: 10rem;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}
.signup-text {
  font-weight: bold;
  margin: 10px 0px;
}

.flex-buttons {
  display: flex;
  justify-content: space-between;
}
